@import './stylus/common.scss';

.App {
  text-align: center;
  .App-title {
    @include Font(24px);
    margin: 20px 0 40px 0;
  }
  .App-wrap {
    text-align: left;
    margin: 20px 5%;
    border-radius: 5px;
    border: 1px #bbb solid;
  }
  .App-taskNum {
    float: left;
    text-align: left;
    margin: 0 6%;
    .done {
      span {
        color: $doneColor;
      }
    }
    .total {
      margin-left: 20px;
      span {
        color: $undoneColor;
      }
    }
  } 
  
}


